<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/relationengine/relation-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>

    <logger name="c.y.o" level="debug"/>
    <logger name="com.yingu" level="debug"/>
    <logger name="org.mybatis" level="debug"/>
    <logger name="com.zaxxer.hikari" level="debug"/>
    <logger name="org.springframework.amqp.rabbit" level="debug"/>
    <logger name="c.netflix.discovery.DiscoveryClient" level="debug"/>
    <logger name="org.springframework.amqp.rabbit.listener.BlockingQueueConsumer" level="info"/>

    <logger name="org.springframework" level="info"/>
    <!--<logger name="org" level="trace"/>-->
    <logger name="org.hibernate" level="debug"/>
    <logger name="org.mongodb" level="info"/>
    <logger name="org.apache.http.headers" level="info"/>
    <logger name="org.apache.http.wire" level="info"/>
    <logger name="c.n.d.shared.NamedConnectionPool" level="info"/>
    <logger name="c.n.d.*" level="info"/>
    <logger name="o.a.h.*" level="info"/>
    <logger name="o.a.h.c.protocol.RequestAddCookies" level="info"/>
    <logger name="o.a.h.c.protocol" level="info"/>
    <logger name="o.a.h.c.p" level="info"/>
    <logger name="com.netflix.discovery.provider" level="DEBUG"/>




    <root level="info">
        <appender-ref ref="RollingFile" />
        <!--<appender-ref ref="file"/>-->
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
